<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>WordCounter!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1 >Check for word counters</h1>
    <form action="wordcounter/output" method="post">
     <label for="word"> Enter a word:</label>
     <input id="word" name="word" type="text"><br>
     <label for="sentence">Enter a sentence:</label>
     <input id="sentence" name="sentence" type="text"><br>
     <button type="submit">Check!</button>
    </form>

  </body>
</html>