<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>main!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1 text-align="center">Word Counter</h1><br><br>
    <h2> It is a game, where user enters a word and sentence,</h2><br>
    <h2> then checks how frequently the word appears in</h2><br> 
    <h2> the sentence(Returns the count of word in Sentence).</h2><br>
    <form action="/wordcounter" method="post">
     <button type="submit">Start the game!</button>
    </form>

  </body>
</html>