<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>main!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1 text-align="center">Word Counter</h1><br><br>
    <h3> It is a game, where user enters a word and sentence,</h3><br>
    <h3> then checks how frequently the word appears in</h3><br> 
    <h3> the sentence(Returns the count of word in Sentence).</h3><br>
    <button type="submit"><a href="/wordcounter">Start the game!</button>

  </body>
</html>